*{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}
header{
    background: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;;
}
/* Nav related styles start*/
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0px;
}
.navbar nav {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
}
.nav-title{
    color: #181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
.btn-primary{
    border: 0px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
}
/* nav end */

/* banner start */
.banner{
    display: flex;
    padding-left: 230px;
    margin-top: 50px;
}
.banner img{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    margin-top: 185px;
    margin-bottom: 5px;
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-desc{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 585px;
}
.btn-contact{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


/* skill section start */
.skill-section{
    margin: 130px auto;
    max-width: 1140px;
}
.skill-title{
    
    text-align: center;
    margin-bottom: 30px;
}

.skill-desc{
    text-align: center;
    margin-bottom: 50px;
}
.skill-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: "Open Sans";
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;


}

.skill-item-container{
    display:flex;
}

.skill-item{
    border-radius: 5px;
    background: #FFF;
    margin-right: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.skill-item img,h3{
    padding-bottom: 30px;
}


/* skill end */

/* about start  */


.about{
    padding: 156px 131px;
    border-radius: 10px;
    margin: 156px 131px;
    background: #FFF8F3;
}
.main-about{
    border: 1px solid;
    background-color: white
}

.about-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.about-me{
    color:  #757575;
    text-align: center;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 50px;
}
.title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.tt{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* summary starts */

.sum-item{
    display: flex;
}

.sum-title{
color: var(--Dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
margin-bottom: 50px;
}

.education{
    margin-right: 24px;
    padding: 100px;
}

.btn-sum{
    border: 0px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
    margin-left: 42%;
    margin-bottom: 131px;
}

.edu-title{
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
.item-title{
    color: var(--Dark-02, #474747);
font-size: 25px;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.item-year{
    color: var(--Dark-03, #757575);
font-size: 20px;
font-weight: 600;
line-height: normal;
margin-bottom: 20px;
}
.item-desc{
    color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
line-height: 28px;
margin-bottom: 30px;
}

/* summary ends  */

/* footer starts */
footer{
    background: #FFF8F3;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 117px;
    padding-top: 130px;
}
.s-img{
    display: flex;
    padding-left: 150px;
    gap: 24px;
}

.connect{
    width: 50%;
}
.message{
    width: 50%;
    padding-bottom: 130px;
}

.message-info{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
}
.connect-desc{
    color: var(--Dark-02, #474747);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
padding-left: 150px;
margin-bottom: 30px;
}

.connect-text{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-left: 150px;
margin-bottom: 20px;
}
.message-title{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;
}

.message-info input,textarea{
    margin-bottom: 24px;
}

